﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome | Lyra Electoral App</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{{ asset('assets/vendors/bootstrap/css/bootstrap.css')}}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{{ asset('assets/vendors/node-waves/waves.css')}}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{{ asset('assets/vendors/animate-css/animate.css')}}" rel="stylesheet" />



    <!-- Custom Css -->
    <link href="{{ asset('assets/vendors/css/style.css')}}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{{ asset('assets/vendors/css/themes/all-themes.css')}}" rel="stylesheet" />
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
   
    {% include 'layouts/topbar.html.twig' %}
    <section>
        
       {% include 'layouts/sidebar.html.twig' %}
    </section>

    <section class="content">
      
        <div class="container-fluid">
           
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                         <div class="header">
                <h2>Advertencia</h2>
            </div>
            <!-- Widgets -->
            <div class="row clearfix">
                <div class="body">
                    
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger">
                                <strong>JRV YA HA SIDO INGRESADA. CONTACTE AL ENCARGADO PARA VERIFICAR DATOS INGRESADOS</strong>  
                            </div>
                    
                    </br>
                    </br>
                    
                </div>
                    <div class="col-lg-12 col-md-12 col-sm-8 col-xs-10">
                       <a href="{{ path('homepage')}}" style="text-decoration:none">
                  
                   <button type="button" class="btn btn-block btn-lg btn-danger waves-effect">
                   
                       REGRESAR A PAGINA PRINCIPAL
                   </button>
                              </a>
                         </div>
                {#<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="{{ path('agregar_diputado')}}" style="text-decoration:none">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">forum</i>
                        </div>
                        <div class="content">
                            <div class="text">Agregar Acta Diputados</div>
                             </div>
                    </div>
                     </a>
                </div>#}
              </div>
            </div>
            <!-- #END# Widgets -->
           </div>
            </div>
         
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="{{ asset('assets/vendors/jquery/jquery.min.js')}}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{{ asset('assets/vendors/bootstrap/js/bootstrap.js')}}"></script>

    <!-- Select Plugin Js -->
    <script src="{{ asset('assets/vendors/bootstrap-select/js/bootstrap-select.js')}}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{{ asset('assets/vendors/jquery-slimscroll/jquery.slimscroll.js')}}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{{ asset('assets/vendors/node-waves/waves.js')}}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="{{ asset('assets/vendors/jquery-countto/jquery.countTo.js')}}"></script>

    
    <!-- ChartJs -->
    <script src="{{ asset('assets/vendors/chartjs/Chart.bundle.js')}}"></script>

   
    
    <!-- Custom Js -->
    <script src="{{ asset('assets/vendors/js/admin.js')}}"></script>
  

    <!-- Demo Js -->
    <script src="{{ asset('assets/vendors/js/demo.js')}}"></script>
</body>

</html>